# copie para .env e preencha
PORT=4000
JWT_SECRET=troque-esta-string-por-uma-secreta-bem-grande
# Gmail para envio de e-mails (enquanto não há domínio)
GMAIL_USER=seu.gmail@gmail.com
GMAIL_PASS=sua-senha-ou-app-password